/* #animated-example { 
    background: #cd4436; 
    height: 200px; 
    margin: 20px auto; 
    width: 300px; 
    box-shadow: inset 0 0 7px rgba(0,0,0,0.7); 
 }
  */
  .animated { 
     animation-duration: 2s; 
     animation-fill-mode: both; 
 } 
 
 @keyframes flipInX { 
     0% { 
         transform: perspective(400px) rotateX(90deg); 
         opacity: 0; 
     } 
     40% { 
         transform: perspective(400px) rotateX(-10deg); 
     } 
     70% { 
         transform: perspective(400px) rotateX(10deg); 
     } 
     100% { 
         transform: perspective(400px) rotateX(0deg); 
         opacity: 1; 
     } 
 } 
 .flipInX { 
     backface-visibility: visible !important; 
     animation-name: flipInX; 
 }
.shuffle-page{
    .shuffle-tool-bar{
        --background: #20948B;
        ion-title{
            font-weight: bolder;
            color:white;
        }
    }

    .shuffle-button{
        --background: #20948B;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);

    }
    
.ion-item-select{
    border:solid 0.3rem #20948B;
    padding: 0 1rem;
}
    .shuffle-content{
        border-right:solid 0.3rem #20948B;
        border-top:solid 0.3rem #20948B;
        border-left:solid 0.3rem #20948B;
    }
} 
.random-list-grid{
    --background: white;
    font-family: Noto Sans JP;
    font-weight: 500;
    padding: 0;
    margin: 0;
    ion-grid {
        position: relative;
        z-index: 3;
    }
    
    ion-row{
        margin: 0.4rem 0rem;
    }
    
    ion-col{
        
        @media screen and (min-width:451px) { 
            font-size: 0.9rem !important;
            height: 8rem !important;
        }
        @media screen and (min-width:351px) and ( max-width:450px) { 
            font-size: 0.8rem !important;
            height: 7rem !important;
        }
        @media screen and (max-width:350px) { 
            font-size: 0.6rem !important;
            height: 6rem !important;
        }

        margin: 0 0.2rem;
        padding: 0.2rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-col{
        border-radius: 0.3rem;
        box-shadow: 0 0 0.3rem #20948B;
        background-color: white;
        text-align: center;
    }

}
.reload-button{
    --background: #20948B;
}