ion-card{
    border-radius: 1rem;
    max-width: 4rem;
    max-height: 4rem;
}

// ion-card-content{
//     text-align: center;
// }

.content {
    text-align: center;
    font-size: 10px !important;
    color: black;
}