
.mandarat-grid{
    padding: 0;
    
    font-family: Noto Sans JP;
    font-weight: 500;
    margin: 0;
    ion-grid{
        position: relative;
        z-index: 3;
        // animation: fadeIn 3s ease 0s 1 normal;
        // margin: 0;
    }
    
    ion-row{
        margin: 0.4rem 0rem;
    }
    
    ion-col{
        @media screen and (min-width:451px) { 
            font-size: 1rem !important;
            height: 8rem !important;
        }
        @media screen and (min-width:351px) and ( max-width:450px) { 
            font-size: 0.8rem !important;
            height: 7rem !important;
        }
        @media screen and (max-width:350px) { 
            font-size: 0.6rem !important;
            height: 6rem !important;
        }

        margin: 0 0.2rem;
        padding: 0.2rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-col{
        // display: table-cell;
        // vertical-align: middle;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.3rem #20948B;
        // border: solid 1px;
        background-color: white;
        text-align: center;
    }
    .parent-col{
        border-radius: 0.3rem;
        box-shadow: 0 0 0.3rem #20948B;
        // border: solid 1px;
        background-color: white;
        text-align: center;
        
    }
}
.add-child{
    --background: #20948B;
}